==
<?php
function onInit()
{
    $this['device'] = 'desktop';

    $this['assets_suffix'] = env('APP_ASSETS');
}
?>
==
{% spaceless %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>THEME_NAME</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ ('assets/css/' ~ assets_suffix ~ '_common.css?v=0.0.0') |theme }}">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon.ico'|theme }}" sizes="16x16">
    </head>
    <body>
        <header></header>
        <main>
            {% page %}
        </main>
        <footer></footer>
        <script src="{{ ('assets/js/' ~ assets_suffix ~ '_common.js?v=0.0.0')|theme }}" defer></script>
    </body>
</html>
{% endspaceless %}
